* {
    margin: 0;
    box-sizing: border-box;

}


#lista {


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.contenedor {

    background-color: lightgrey;
}


.promo {

    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}


.promo p {
    font-size: 2.1rem;
    text-align: center;
    color: white;
    font-weight: 900;
}

.promo h1 {

    font-size: 3.5rem;
    text-align: center;
    color: white;
    font-weight: 700;

}




.boton5 {

    display: inline-block;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 10px 0;
    width: 200px;
    background-color: yellow;
    font-size: 1.8rem;
    color: gray;
    font-weight: 700;
    transition: 150ms;
    margin-top: 40px;

}

.boton5:focus {
    outline: none;

}

.boton5:hover {
    transform: translate(0, -5px);
}

#hero {

    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.capa {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}


#map {

    height: 500px;
    width: 100%;

}


#formulario {

    
}